<html>
    <head>
        {% block head %}
            <title>Private lessons</title>
        {% endblock %}
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/" class="active">Professores</a>
                <a href="/students">Estudantes</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>